@font-face {
   font-family: 'Georama';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: italic;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: italic;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/200italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/800italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Georama';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/Doug/Documents/GitHub/pages/geolonas/google/fonts/Georama/900italic.ttf') format('truetype');
}
